<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg
    5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="log">
        <div class="form-section">

            <h2>Cadastro</h2>
            <form id="/login" method="post">
                <label for="campo1">Nome</label>
                <input type="text" id="name" name="name" placeholder="Digite o seu nome">
                <br>

                <label for="campo2">Documento</label>
                <input type="text" id="documento" name="documento" placeholder="Digite o seu documento">
                <br>

                <label for="campo3">Email</label>
                <input type="text" id="email" name="email" placeholder="Digite o seu email">
                <br>

                <label for="campo4">Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite o usuario">
                <br>

                <label for="campo5">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite a senha">

                <label for="campo6">Confirme a Senha</label>
                <input type="password" id="confirm" name="confirm" placeholder="Confirme sua senha">

                <button type="submit" class="btn-add">Cadastrar</button>
                <br><br>
            </form>
        </div>
    </div>
</body>